.navbar
{
    font-size: 18px;
    border-radius:50% ;
    position: absolute;
    top:5%;
    left: calc(90% - 90px);
    color:black;
}
.sac
{
 	width: 250px;
 	height: 250px
 	border-radius:50% ;
    position: absolute;
    top:10%;
    left: calc(20% - 20px);
 }
 .lunette
 {
 	width: 250px;
 	height: 250px
 	border-radius:50% ;
    position: absolute;
    top:35%;
    left: calc(50% - 50px);
 }
 .ceintures
 {
 	width: 250px;
 	height: 250px
 	border-radius:50% ;
    position: absolute;
    top:20%;
    left: calc(80% - 80px);
 }
 
 .info18
 {
 	font-size: 18px;
 	border-radius:50% ;
    position: absolute;
    top:55%;
    left: calc(21% - 21px);
    color:black;
 }
 .info19
 {
 	font-size: 18px;
 	border-radius:50% ;
    position: absolute;
    top:55%;
    left: calc(51% - 51px);
    color:black;
 }
 .info20
 {
 	font-size: 18px;
 	border-radius:50% ;
    position: absolute;
    top:55%;
    left: calc(81% - 81px);
    color:black;
 }
