.NB574
{
 	width: 250px;
 	height: 250px
 	border-radius:50% ;
    position: absolute;
    top:18%;
    left: calc(20% - 20px);
 }
 .crampons
 {
 	width: 250px;
 	height: 250px
 	border-radius:50% ;
    position: absolute;
    top:18%;
    left: calc(50% - 50px);
 }
 .sweat
 {
    width: 270px;
    height: 270px
    border-radius:50% ;
    position: absolute;
    top:24%;
    left: calc(78% - 78px);
 }

 .info10
 {
 	font-size: 18px;
 	border-radius:50% ;
    position: absolute;
    top:55%;
    left: calc(21% - 21px);
    color:black;
 }
 .info11
 {
 	font-size: 18px;
 	border-radius:50% ;
    position: absolute;
    top:55%;
    left: calc(51% - 51px);
    color:black;
 }
 .info0
 {
    font-size: 18px;
    border-radius:50% ;
    position: absolute;
    top:55%;
    left: calc(81% - 81px);
    color:black;
 }
 .navbar
{
    font-size: 18px;
    border-radius:50% ;
    position: absolute;
    top:5%;
    left: calc(90% - 90px);
    color:black;
}